:root {
    --color-bg: #2C2C32;
    --color-active: #0f7dc6;
}

.active {
    color: var(--color-active);
    cursor: default;
}

body {
    font-family: "Roboto", Monaco, monospace;
}

label {
    display: block;
    margin-top: 10px;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.nav-tabs .nav-link {
    background-color: transparent !important;
    color: #888888;
    border-top: none;
    border-left: none;
    border-right: none;
}

.nav-tabs .nav-link.active {
    border-bottom: solid 2px #386c00 !important;
    color: #000000;
}

.table {
    border-width: 1px;
    border-color: #aaaaaa;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
}
